:root {
    --el-color-primary: var(--text-color);
    --el-color-primary-light-9: var(--bg-color);
}

.el-menu {
    height: 100%;
}

.el-menu-item.is-active {
    background-color: var(--bg-color);
}