@import './base.css';
@import './element.css';

#app {
  font-weight: normal;
  height: 100%;
}

.page-container {
  overflow: auto;
}

.page-main {
  padding: 20px;
}

.page-bg {
  content: "";
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: url("image/bg2.jpeg");
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  opacity: var(--bg-opacity);
}